pipeline/databricks_notebook_pipeline.json
{
	"name": "databricks_notebook_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "practice_notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/shivashameendra@gmail.com/practice",
					"baseParameters": {
						"test_parameter1": {
							"value": "@activity('Lookup1').output.firstRow.Synapse_DW_TableName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dbricks_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}